@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #424242;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #424242;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;

  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #039BE5;
}

::-moz-selection {
  color: #fff;
  background: #039BE5;
}

::selection {
  color: #fff;
  background: #039BE5;
}

.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gtco-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1001;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .gtco-nav {
    padding: 10px 0;
  }
}

.gtco-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;

  font-weight: bold;

}

.gtco-nav #gtco-logo em {
  color: #039BE5;
}

@media screen and (max-width: 768px) {

  .gtco-nav .menu-1,
  .gtco-nav .menu-2 {
    display: none;
  }
}



.gtco-nav ul {
  padding: 0;
  margin: .4em 0 0 0;
}

.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  line-height: 1.5;
}

.gtco-nav ul li>a {
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: .08em;
  font-weight: 700;
  color: #767676;

}

.gtco-nav ul li a {
  font-size: 16px;
  padding: 30px 10px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gtco-nav ul li a:hover,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:active {
  color: #015c88;
}

.gtco-nav ul li.has-dropdown {
  position: relative;
}

.gtco-nav ul li.has-dropdown>a {
  position: relative;
  padding-right: 20px !important;
}

.gtco-nav ul li.has-dropdown>a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-style: 10px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0;
  color: #ccc;
}

.gtco-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(58, 57, 57, .1);
  -moz-box-shadow: 0 4px 8px 0 rgba(58, 57, 57, .1);
  box-shadow: 0 4px 8px 0 rgba(58, 57, 57, .1);
  z-index: 1002;

  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}

.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #039BE5;
  background-color: lightblue;
}

.gtco-nav ul li.has-dropdown .dropdown li.active>a {
  color: #039BE5 !important;
}

.gtco-nav ul li.has-dropdown:hover a,
.gtco-nav ul li.has-dropdown:focus a {
  color: #015c88;
}

.gtco-nav ul li.btn-cta a {
  color: #039BE5;
}

.gtco-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

.gtco-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.gtco-nav ul li.active>a {
  color: #015c88 !important;
}



@media screen and (max-width: 480px) {
  #gtco-header .text-left {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px) {
  #gtco-header .btn {
    display: block;
    width: 100%;
  }
}

#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.gtco-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}

.gtco-cover.gtco-inner h1 {
  margin-bottom: 0 !important;
}

.gtco-cover a {
  color: #039BE5;
}

.gtco-cover a:hover {
  color: white;
}

.gtco-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(29, 43, 83, 0.89);
}

.gtco-cover>.gtco-container {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .gtco-cover {
    height: 600px;
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 600px;
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover.gtco-cover-sm {
  height: 600px;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    height: 400px;
    height: inherit !important;
  }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover.gtco-cover-xs {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}

.gtco-client {
  float: left;
  width: 100%;
  padding: 3em 0;
  background: #f6f6f6;
}

.gtco-client .client img {
  margin-top: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-services {
  padding: 7em 0;
}

.gtco-services .service {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 2em;
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  bottom: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
  .gtco-services .service {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.gtco-services .service h3 {
  font-size: 18px;
  color: #000;
  text-align: left;
  position: relative;
  padding-left: 30px;
}

.gtco-services .service h3 i {
  position: absolute;
  left: 0;
  top: -0.1em;
  color: #039BE5;
  font-size: 22px !important;
}

.gtco-services .service p {
  text-align: left;
  color: #898989;
  font-size: 15px;
}

.gtco-services .service p:last-child {
  margin-bottom: 0;
}

.gtco-services .service.changed {
  bottom: -7em;
}

@media screen and (max-width: 768px) {
  .gtco-services .service.changed {
    bottom: 0;
  }
}

.gtco-products .one-row,
.gtco-products .two-row {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.gtco-products .two-row {
  height: 239px;
}

.gtco-products .one-row {
  height: 508px;
}

.gtco-products .gtco-item {
  position: relative;
}

.gtco-products .gtco-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gtco-products .gtco-item .overlay i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  z-index: 14;
  color: #fff;
}

.gtco-products .gtco-item .overlay .copy {
  bottom: -20px;
  position: absolute;
  left: 0;
  padding: 20px;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gtco-products .gtco-item .overlay .copy h3 {
  color: #fff;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.gtco-products .gtco-item .overlay .copy p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.gtco-products .gtco-item .overlay .copy p:last-child {
  margin-bottom: 0;
}

.gtco-products .gtco-item .overlay:before {
  z-index: 7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: #3dcdbc;
  background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
  background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
}

.gtco-products .gtco-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.gtco-products .gtco-item:hover .overlay .copy {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.gtco-testimonial .gtco-testimony {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.gtco-testimonial .gtco-left>div {
  display: table-cell;
  float: left;
  width: 80px;
}

.gtco-testimonial .gtco-left>div img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  max-width: 100% !important;
}

.gtco-testimonial .gtco-left>blockquote {
  padding-left: 20px;
  display: table-cell;
  border-left: none;
  margin: 0;
  padding: 0 0 0 30px;
}

.gtco-testimonial .gtco-left>blockquote p {
  font-style: 16px;
  font-style: italic;
}

.gtco-testimonial .gtco-left>blockquote .author {
  color: #666666;
  display: block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
}

#gtco-footer {
  background: #262626;
  padding: 7em 0 0 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  float: left;
}

#gtco-footer a:hover {
  color: #fff !important;
}

#gtco-footer .gtco-cta {
  margin-bottom: 30px;
}

#gtco-footer .gtco-cta h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

#gtco-footer .gtco-cta .btn-white {
  padding: 15px 20px !important;
}

#gtco-footer .gtco-cta .btn-white.btn-outline:hover {
  color: #000 !important;
}

#gtco-footer .gtco-footer-paragraph h3 {
  color: #fff;
  margin-bottom: 10px;
}

#gtco-footer .gtco-footer-link {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  #gtco-footer .gtco-footer-link {
    padding-left: 15px;
  }
}

#gtco-footer .gtco-footer-link .gtco-list-link {
  padding: 0;
  margin: 0;
}

#gtco-footer .gtco-footer-link .gtco-list-link li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-footer .gtco-footer-link .gtco-list-link li a {
  text-transform: uppercase;
  font-size: 13px !important;
}

#gtco-footer .gtco-footer-subscribe {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  #gtco-footer .gtco-footer-subscribe {
    padding-left: 15px;
  }
}

#gtco-footer .gtco-footer-subscribe .form-control {
  background: #fff !important;
  border: none !important;
}

#gtco-footer .gtco-footer-subscribe .btn {
  margin-top: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  height: 54px !important;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#gtco-footer .gtco-copyright {
  background: #1a1a1a;
  padding: 30px 0;
  float: left;
  width: 100%;
}

#gtco-footer .gtco-copyright p:last-child {
  margin-bottom: 0;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gtco-staff,
.gtco-item {
  margin-bottom: 4em;
  float: left;
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {

  .gtco-staff,
  .gtco-item {
    margin-bottom: 3em;
  }
}

.gtco-staff img,
.gtco-item img {
  margin-bottom: 40px !important;
}

.gtco-staff h2,
.gtco-item h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.gtco-staff p,
.gtco-item p {
  margin-bottom: 30px;
  color: #777;
}

.gtco-staff .role,
.gtco-item .role {
  color: #bfbfbf;
  margin-bottom: 20px;
  font-weight: normal;
  display: block;
}

.gtco-staff .fh5co-social,
.gtco-item .fh5co-social {
  padding: 0;
  margin: 0;
}

.gtco-staff .fh5co-social li,
.gtco-item .fh5co-social li {
  padding: 0;
  margin: 0 10px 0 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-staff .fh5co-social li a,
.gtco-item .fh5co-social li a {
  font-size: 20px;
  color: #039BE5;
}

.gtco-staff .fh5co-social li a:hover,
.gtco-item .fh5co-social li a:hover {
  color: #000;
}

.gtco-social-icons {
  margin: 0;
  padding: 0;
}

.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #039BE5;
  padding-left: 10px;
  padding-right: 10px;
}

.gtco-social-icons li a i {
  font-size: 20px;
}

.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}

.gtco-contact-info ul {
  padding: 0;
  margin: 0;
}

.gtco-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}

.gtco-contact-info ul li:before {
  color: #cccccc;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}

.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}

.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}

.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

form label {
  font-weight: normal !important;
}

#gtco-header {
  background: #3dcdbc;
  background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
  background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
}

#gtco-header p {
  color: #d3f1ed;
  font-size: 20px;
  margin-bottom: 40px !important;
}

#gtco-header h1 {
  font-size: 50px;
  line-height: 1.2 !important;
  margin-bottom: 30px !important;
  color: #d3f1ed;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #gtco-header h1 {
    line-height: 1.2 !important;
  }
}

#gtco-header h1.no-margin {
  margin-bottom: 0 !important;
}

#gtco-header .copy {
  margin-top: 0em;
}

#gtco-header .btn {
  color: #34a7bd !important;
  text-shadow: none !important;
}

#gtco-header .header-img {
  margin-bottom: 30px;
}

#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}

#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {

  #gtco-header .display-tc h1,
  #gtco-counter .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#gtco-counter {
  text-align: center;
}

#gtco-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #039BE5;
  font-weight: 100;
  display: block;
}

#gtco-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
  #gtco-counter .feature-center {
    margin-bottom: 50px;
  }
}

#gtco-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}

#gtco-counter .icon i {
  height: 70px;
}

#gtco-counter .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}

.gtco-section {
  padding: 7em 0;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  .gtco-section {
    padding: 3em 0;
  }
}

.gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}

.gtco-section.gtco-gray {
  background: #f6f6f6;
}

.gtco-heading {
  margin-bottom: 5em;
}

.gtco-heading.gtco-heading-sm {
  margin-bottom: 2em;
}

.gtco-heading h2 {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #4d4d4d;
  font-weight: 300;
}

.gtco-heading p {
  font-size: 18px;
  line-height: 1.7;
  color: #898989;
}

#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #gtco-offcanvas {
    display: block;
  }
}

.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}

#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}

#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-offcanvas ul li>ul {
  padding-left: 20px;
  display: none;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a {
  display: block;
  position: relative;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gototop.active {
  opacity: 0.5;
  visibility: visible;
}

.gototop:hover {
  opacity: 1;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
  text-decoration: none;
  outline: none;
}

.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.gtco-nav-toggle.active i::before,
.gtco-nav-toggle.active i::after {
  background: #444;
}

.gtco-nav-toggle:hover,
.gtco-nav-toggle:focus,
.gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}

.gtco-nav-toggle i::before,
.gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white>i {
  color: #fff;
  background: #fff;
}

.gtco-nav-toggle.gtco-nav-white>i::before,
.gtco-nav-toggle.gtco-nav-white>i::after {
  background: #fff;
}

.gtco-nav-toggle i::before {
  top: -7px;
}

.gtco-nav-toggle i::after {
  bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
  top: -10px;
}

.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

.gtco-nav-toggle.active i {
  background: transparent;
}

.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
  position: fixed;
  right: 0px;
  top: 8px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }

  .top {
    display: none;


  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 30px;
  text-transform: uppercase;
  text-shadow: none !important;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: #039BE5;
  color: #fff;
  border: 2px solid #039BE5 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #039BE5 !important;
  border-color: #039BE5 !important;
}

.btn-primary.btn-outline {
  background: transparent;
  color: #039BE5;
  border: 2px solid #039BE5;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #039BE5;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}

.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}

.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}

.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #000;
  background: #fff;
  border-color: #fff;
}

.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}

.btn-white.btn-outline:hover,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:active {
  background: #fff;
  color: #000 !important;
  border: 2px solid #fff;
}

.btn-special {
  background: #00ffa3;
  color: #239c71;
  border: 2px solid #00ffa3;
}

.btn-special:hover,
.btn-special:focus,
.btn-special:active {
  color: #239c71;
  background: #00ffa3;
  border-color: #00ffa3;
}

.btn-special.btn-outline {
  color: #fff;
  border: 2px solid #00ffa3;
}

.btn-special.btn-outline:hover,
.btn-special.btn-outline:focus,
.btn-special.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #00ffa3;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn.with-arrow:hover {
  padding-right: 50px;
}

.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #039BE5;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .gtco-nav .gtco-contact {
    text-align: left !important;
  }
}

.gtco-nav .gtco-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
}

.gtco-nav .gtco-contact ul li {
  padding: 0;
  margin: 0;
}

.gtco-nav .gtco-contact ul li a {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 0px;
}

.gtco-nav .gtco-contact ul li a i {
  color: #039BE5;
}

.gtco-nav .gtco-contact ul li a:hover i {
  color: #fff;
}

#gtco-features-3 {
  position: relative;
  top: -7em;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 {
    top: -2em;
  }
}

#gtco-features-3 .feature {
  width: 33.33%;
  float: left;
  padding: 30px;
  background: #039BE5;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature {
    width: 100%;
    margin-bottom: 30px;
  }
}

#gtco-features-3 .feature h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#gtco-features-3 .feature p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}

#gtco-features-3 .feature .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  background: #15a989;
  top: -3em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#gtco-features-3 .feature .icon i {
  line-height: 90px;
  height: 90px;
  font-size: 40px;
  color: #fff;
}

#gtco-features-3 .feature .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

#gtco-features-3 .feature.feature-1 {
  z-index: 7;
}

#gtco-features-3 .feature.feature-2 {
  bottom: 0px;
  z-index: 10;
  -webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  background: #15a585;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#gtco-features-3 .feature.feature-2 .icon {
  background: #13977a;
}

#gtco-features-3 .feature.feature-2 .feature-inner {
  top: -3em;
  position: relative;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 .feature-inner {
    top: 0;
  }
}

#gtco-features-3 .feature.feature-2:before {
  position: absolute;
  top: -50px;
  content: "";
  background: #15a585;
  height: 50px;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2:before {
    display: none;
  }
}

#gtco-features-3 .feature.feature-2:after {
  position: absolute;
  bottom: -30px;
  content: "";
  background: #15a585;
  height: 30px;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2:after {
    display: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#gtco-features-3 .feature.feature-3 {
  z-index: 7;
  background: #129377;
}

#gtco-features-3 .feature.feature-3 .icon {
  background: #118a6f;
}

.gtco-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

#gtco-portfolio {
  padding: 7em 0;
  background: #303841;
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio {
    padding: 3em 0;
  }
}

#gtco-portfolio .gtco-heading h2 {
  color: #fff;
}

#gtco-portfolio .gtco-heading p {
  color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

#gtco-portfolio-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li {
    margin-left: 0;
  }
}

#gtco-portfolio-list li a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}

#gtco-portfolio-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-portfolio-list li a.color-1:before {
  background: rgba(55, 75, 84, 0.7);
}

#gtco-portfolio-list li a.color-1:hover:before {
  background: rgba(55, 75, 84, 0);
}

#gtco-portfolio-list li a.color-2:before {
  background: rgba(37, 190, 213, 0.7);
}

#gtco-portfolio-list li a.color-2:hover:before {
  background: rgba(37, 190, 213, 0);
}

#gtco-portfolio-list li a.color-3:before {
  background: rgba(239, 172, 147, 0.7);
}

#gtco-portfolio-list li a.color-3:hover:before {
  background: rgba(239, 172, 147, 0);
}

#gtco-portfolio-list li a.color-4:before {
  background: rgba(249, 17, 40, 0.7);
}

#gtco-portfolio-list li a.color-4:hover:before {
  background: rgba(249, 17, 40, 0);
}

#gtco-portfolio-list li a.color-5:before {
  background: rgba(252, 68, 40, 0.7);
}

#gtco-portfolio-list li a.color-5:hover:before {
  background: rgba(252, 68, 40, 0);
}

#gtco-portfolio-list li a.color-6:before {
  background: rgba(98, 177, 215, 0.7);
}

#gtco-portfolio-list li a.color-6:hover:before {
  background: rgba(98, 177, 215, 0);
}

#gtco-portfolio-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}

#gtco-portfolio-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list li a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}

#gtco-portfolio-list li.two-third {
  width: 65.6%;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.two-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.two-third {
    width: 100%;
  }
}

#gtco-portfolio-list li.one-third {
  width: 32.3%;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.one-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-third {
    width: 100%;
  }
}

#gtco-portfolio-list li.one-half {
  width: 49%;
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-half {
    width: 100%;
  }
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 25% !important;
  z-index: 1001;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -170px;
}

@media screen and (max-width: 992px) {

  .owl-carousel .owl-controls .owl-nav .owl-next,
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -50px;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -170px;
}

@media screen and (max-width: 992px) {

  .owl-carousel .owl-controls .owl-nav .owl-prev,
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: -50px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  color: #cccccc;
  font-size: 24px;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  color: #000;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #cccccc;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  background: #4d4d4d;
}

/*# sourceMappingURL=style.css.map */



@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 5px;
  }
}

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background: #fff;
}

.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}

.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 15px;
}

@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(58, 57, 57, .1);
    box-shadow: 0 4px 8px 0 rgba(58, 57, 57, .1);
  }

  #main-menu.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;

    font-weight: normal;
  }

  #main-menu.navbar-default .navbar-nav>li.active>a,
  #main-menu.navbar-default .navbar-nav>li.open>a,
  #main-menu.navbar-default .navbar-nav>li:hover>a {
    background: transparent;
    border-top: 0px solid #ff6c00;
    color: #ff6c00;
  }

  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }

  #main-menu.navbar-default .dropdown-menu>li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }

  #main-menu.navbar-default .dropdown-menu>li>a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }

  #main-menu.navbar-default .dropdown-menu>li:first-child>a {
    border-top: 0;
  }

  #main-menu.navbar-default .dropdown-menu>li.active,
  #main-menu.navbar-default .dropdown-menu>li.open,
  #main-menu.navbar-default .dropdown-menu>li:hover {
    border-left-color: #45aed6;
  }

  #main-menu.navbar-default .dropdown-menu>li.active>a,
  #main-menu.navbar-default .dropdown-menu>li.open>a,
  #main-menu.navbar-default .dropdown-menu>li:hover>a {
    color: #45aed6;
    background-color: transparent;
  }
}


/*styles for searhc*/

header .top {
  padding: 20px 0;
  margin: 0;
  background: #f2f2f2;
}

header .top {
  border-bottom: 1px solid #ddd;
}

header .top ul.topleft-info {
  list-style: none;
  margin: 10px 0 0;
  padding-left: 0;
  float: left;
}

header .top ul.topleft-info li {
  display: inline;
  margin: 0 20px 0 0;
  padding: 0;
  font-weight: 600;
}


header .top ul.topleft-info li a:hover {
  text-decoration: none;
  outline: 0;
}

.sb-search {
  position: relative;
  width: 0%;
  min-width: 36px;
  height: 36px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 50%;
  height: 36px;
  margin: 0;
  z-index: 10;
  padding: 2px 41px 2px 10px;
  font-family: inherit;
  font-size: 14px;
  color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
  color: #1565C0;
}

.sb-search-input:-moz-placeholder {
  color: #1565C0;
}

.sb-search-input::-moz-placeholder {
  color: #1565C0;
}

.sb-search-input:-ms-input-placeholder {
  color: #1565C0;
}

.sb-icon-search,
.sb-search-submit {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: black;
  z-index: 90;
  font-size: 14px;
  background: #1565C0;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

}

.sb-icon-search:before {}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #666;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

.row,
.row-fluid {
  margin-bottom: 10px;
}


/*for carousel*/
#main-slider {
  overflow: hidden;
}

#main-slider .item {
  height: 700px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;

}

.carousel-content {
  margin-top: 25%;
}

#main-slider .slider-inner h2 {

  font-weight: 600px;
  font-size: 50px;
  line-height: 1;
  color: #E0E0E0;
  text-align: center;
}

#main-slider .slider-inner p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 80px;
  text-transform: capitalize;
  color: #E0E0E0;
  text-align: center;
  letter-spacing: 1px;
}

#main-slider .slider-inner h2 span {
  color: #039BE5;
}

#main-slider .slider-inner .btn {
  margin-top: 20px;
  background: transparent;
  border: 3px solid #f26522;
  border-radius: 30px;
}

#main-slider .slider-inner .btn.btn-primary {
  padding: 10px 46px;
  font-size: 22px;
}

#main-slider .slider-inner .btn.btn-primary:hover {
  background: #f26522;
}

#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: 1px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #45aed6;
  opacity: 0.8;
}

#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}

#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}

/*Buttons*/
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #45aed6;

}

.owl-prev {
  left: -35px;
  text-indent: 14px;
}

.owl-next {
  right: -35px;
  text-indent: -14px;
}


#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #45aed6;
}

#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}

.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Footer code*/


footer ul.link-list li a {
  color: #777;
}

footer ul.link-list li a:hover {
  color: #333;
}

footer .widgetheading {
  position: relative;
}

footer .widget .social-network {
  position: relative;
}


#bottom .widget .widgetheading span,
aside .widget .widgetheading span,
footer .widget .widgetheading span {
  position: absolute;
  width: 60px;
  height: 1px;
  bottom: -1px;
  right: 0;

}

/* ===============================
16. Footer
================================ */

footer {
  background: #f2f2f2;
}

#sub-footer {
  border-top: 1px solid #ddd;
  background: #f7f7f7;
}


footer {
  padding: 50px 0 0 0;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #444;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: #110d0e;
}

footer address {
  line-height: 1.6em;
}

footer h5 a:hover,
footer a:hover {
  text-decoration: none;
}

ul.social-network {
  list-style: none;
  margin: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

footer ul.social-network li i {
  font-size: 1.3em;
}

#sub-footer {
  text-shadow: none;
  padding: 0;
  padding-top: 30px;
  margin: 20px 0 0 0;
}

#sub-footer p {
  margin: 0;
  padding: 0;
}

#sub-footer span {}

.copyright {
  text-align: left;
  font-size: 12px;
}

#sub-footer ul.social-network {
  float: right;
}

footer {
  display: block;
}

/* --- button --- */
.btn-theme {
  color: #fff;
}

.btn-theme:hover {
  color: #eee;
}

/* buttons */


.btn-theme {
  border: 1px solid #d9232d;
  background: #d9232d;
  padding: 15px*20px;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*custom css*/
#main-menu {
  padding: 0;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.container-table {
  display: table;
}

.top {
  padding-left: 15px;
  padding-right: 15px;


  background-color: #039BE5;
}

/* 
.padd {
  padding-bottom: 5px;
  padding-top: 5px;
} */

.fonta {
  color: black;
  size: 3x;

}


.menu-1 {
  padding-top: 1.5%;
}

.menu-2 {
  padding-top: 0.75%;
}

.logo-size {
  width: 120px;
  height: 90px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu-1 {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.menu-2 {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}

.fonta:hover {
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.owl-carousel .item::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

.bl {
  color: #039BE5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #main-slider .slider-inner h2 {

    font-weight: 600px;
    font-size: 35px;
    line-height: 1;
    color: #E0E0E0;
    text-align: center;
  }

  .carousel-content {
    margin-top: 45%;
  }

  #main-slider .slider-inner p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 40px;
    text-transform: capitalize;
    color: #E0E0E0;
    text-align: center;
    letter-spacing: 1px;
  }
}

.open-close {
  position: fixed;
  top: 50%;
  left: -272px;
  z-index: 3;
  overflow: hidden;
  color: #fff;
  margin: -99px 0 0;
  font: 18px/22px 'HelveticaNeueW02-57Cn', Arial, Helvetica, sans-serif;
}




/*popup*/
/*------------- Form ---------------*/

.nb-form {
  position: fixed;
  z-index: 9999;
  width: 300px;
  background: #FFF;
  right: 20px;
  bottom: -395px;
  transition: all .8s cubic-bezier(.22, .67, .43, 1.22) .2s;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nb-form:hover {
  bottom: 0px;

}

/*-- User Icon --*/

.nb-form .user-icon {
  position: absolute;
  top: -49px;
  right: 12px;
  display: block;
  width: 58px;
  margin: 20px auto 15px;
  border-radius: 100%;
}

/*-- Title --*/

.nb-form .title {
  background: #03a9f4;
  font-size: 16px !important;
  padding: 10px;
  color: #E0E0E0 !important;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

/*-- Text --*/

.nb-form p {
  font-size: 13px;
  margin: 0;
  padding: 15px;
  color: #666;
}

.nb-form p.message {
  margin-left: 7px;
}

/*-- Form Elements --*/

.nb-form form {
  padding: 0 15px 15px 15px;
}

.nb-form input,
.nb-form textarea {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  width: 254px;
  max-width: 254px;
  margin-bottom: 10px;
  margin-left: 7px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: #999;
  border-bottom: 1px solid #f0f0f0;
}

.nb-form input:focus,
.nb-form textarea:focus {
  outline: none;
  box-shadow: none;
}

.nb-form input[type='submit'] {
  display: block;
  width: 120px;
  margin: 0 auto;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .4s ease;
  color: #fff !important;
  border: none;
}

.nb-form input[type='submit']:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 7px 0 rgba(0, 0, 0, 0.02), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.nb-form textarea {
  min-height: 110px;
}


.nb-form ::-webkit-input-placeholder {
  color: #ccb0b0;
}

.nb-form ::-moz-placeholder {
  color: #ccb0b0;
}

.nb-form :-ms-input-placeholder {
  color: #ccb0b0;
}

.nb-form :-moz-placeholder {
  color: #ccb0b0;
}

.nb-form input[type='submit'] {
  background: #03a9f4;
}

@media screen and (max-width: 676px) {
  .nb-form:hover .user-icon {
    display: none;
  }

  .nb-form .message {
    display: none;
  }

  .nb-form form {
    padding-top: 15px;
  }

  .nb-form {
    right: 50%;
    bottom: -320px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width:768px) {
  .nb-form {
    display: none;
  }
}

.arrow {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*footer*/

/***************Footer *************/

#footer {
  color: #fff;
}

.footer-top {
  position: relative;
  padding: 30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}

#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}

#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}

.social-icons {
  margin-top: 30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color: #fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#footer {
  background: #000;
}

/***Sub page heading picture**/



.image-sub .caption {
  position: absolute;
  top: 170px;
  ;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: rgb(237, 237, 237);

}

.image-sub .caption h3 {
  color: rgb(185, 179, 179);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;

}

.image-sub .caption h3 b {
  color: white;

}

.nav-sub-page {
  padding: 10px 5px 10px 35px;

}


@media only screen and (max-width: 600px) {
  .image-sub .caption h3 {
    font-size: 16px;
  }

  .image-sub .caption {
    font-size: 14px;
  }

}

/* lg */

@media (min-width: 1200px) {}


/* md */

@media (min-width: 992px) and (max-width: 1199px) {}


/* sm */

@media (min-width: 768px) and (max-width: 991px) {}


/* xs */

@media (max-width: 767px) {

  .caption .btn-start {
    font-size: 12px;
    padding: 10px 30px;
  }

  .navbar-brand {
    padding: 0 15px 15px;
  }

  .navbar-toggle {
    border: 1px solid #fff;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-right li a {
    font-size: 13px;
    padding-bottom: 8px;
    padding-top: 10px;
  }

  #contact-us .heading {
    padding-top: 35px;
  }


}


/* XS Portrait */

@media (max-width: 479px) {}

#contact {
  padding-top: 45px;
  padding-bottom: 0;
}

.form-group button {
  font-weight: 600;
}

#google-map {
  height: 350px;
}

#contact-us {
  background-image: url(../images/contact-us.jpg);
  padding-bottom: 90px;

}

#contact-us::after {
  background: rgba(0, 0, 0, 0.5);
}

#contact-us::before {
  background: rgba(0, 0, 0, 0.5);
}


.connect {
  max-width: 250px;
  margin: 0 auto;
  padding: 5px 0 5px;
}

.connect .icon>i {
  font-size: 4.4em;
}

.connect .contact-us-heading {
  color: #029be5;
  margin: 15px 0 5px;
  font-size: 22px;
}

#mail h2 {
  color: #029be5
}

#main-contact-form p {
  color: #BDBDBD;
}

.connect p,
.connect p a {
  color: #BDBDBD;
  font-size: 12px;
  line-height: 18px !important;
  letter-spacing: 1px;
}

.connect-info .icon {
  float: left;
  margin-top: 24px;
  margin-right: 20px;
  width: 20%;
}


.connect-info .description {
  overflow: hidden;
}


.contact-form .col-md-4 {
  height: 400px;
}

#main-contact-form p {
  padding-left: 15px;
}

#contact-us .heading {
  padding-top: 95px;
}

.form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, .1);
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}

textarea.form-control {
  min-height: 180px;
  resize: none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left: 70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border: 0;
  margin-top: 40px;
}

#mail {
  padding: 0;
  background-color: #039BE5;
}

#footer {
  background: #029be5;
  color: #ccc;
  font-size: 14px;
  line-height: 22px;
}

.footer-holder.container-fluid {
  padding: 44px 40px 24px;
}

@media only screen and (max-width: 1700px) {
  #footer .text-area {
    width: 29%;
  }
}

#footer .text-area {
  float: left;
  width: 31.85%;
  padding: 0 30px 0 0;
}

#footer .nav {
  float: left;
  width: 68%;
  padding: 0 21px 0 34px;
  margin: 0;
  list-style: none;
  line-height: 16px;
  position: relative;
}

#footer .nav:before,
#footer .nav:after {
  content: '';
  position: absolute;
  display: block;
  background: #444;
  width: 1px;
  height: auto;
  top: 5px;
  bottom: 20px;
  left: 0;
}

#footer .nav>li {
  float: left;
  width: 16.666%;
  padding: 0 15px 0 0;
}

.nav>li {
  position: relative;
  display: block;
}

#footer .title {
  font: 16px/20px 'HelveticaNeueW02-45Ligh', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  margin: 10px 0 12px;
}

#footer .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#footer .nav ul li {
  margin: 0 0 8px;
}

#footer a {
  color: #ccc;
}

.footer-frame.container-fluid {
  padding: 17px 40px 21px;
  background: #000;
  font-size: 12px;
  line-height: 14px;
}

.footer-frame ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-frame ul li {
  float: left;
  padding: 0 0 0 22px;
  position: relative;
}

#footer strong a {
  color: black;
}